@font-face{
  font-family: 'caviar';
  src: url(../fonts/CaviarDreams.ttf) format('truetype');
  src: url(../fonts/Caviar_Dreams_Bold.ttf) format('truetype');
}

body{
  background-image: url(../midia/background.png);
  background-repeat: no-repeat;
}

.nav-link{
  margin: 10px 50px;
  font-size: 20px;
  color: white;
  transition: all 0.3s ease 0s;
  font-family: 'caviar';
}

.nav-link:hover{
  background-color: #BDD684;
  border-radius: 100px;
}

.logo{
  text-align: center;
  margin-top: 50px;
}

.texto{
  text-align: center;
  margin-top: 40px;
  color: white;
  font-family: 'caviar';
  font-weight: bold;
}
