@font-face{
  font-family: 'caviar';
  src: url(../fonts/CaviarDreams.ttf) format('truetype');
}

@font-face{
  font-family: 'caviar bold';
  src: url(../fonts/Caviar_Dreams_Bold.ttf) format('truetype');
  font-weight: 100px;
}

body{
  background-image: url(../midia/background.png);
  background-repeat: no-repeat;
  background-color: #bdd6846c; 
}

.nav-link{
  margin: 10px 50px;
  font-size: 20px;
  color: white;
  transition: all 0.3s ease 0s;
  font-family: 'caviar';
}

.nav-link:hover{
  background-color: #BDD684;
  border-radius: 100px;
  color: white;
}

.logo{
  text-align: center;
  margin-top: 50px;
}

.texto > .titulo-01{
  text-align: center;
  margin-top: 40px;
  color: white;
  font-family: 'caviar bold';
}

.texto > .titulo-02{
  margin-top: 20px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-family: 'caviar bold';
}

.container{
  display: flex;
  margin-top: 50px;
}

.imagens{
  margin-left: 150px;
}

.textoDireito{
  margin-left: 20px;
}

.textoEsquerdo{
  text-align: right;
  margin-right: 20px;
}

.fundo{
  background-color: tomato;
}